<!DOCTYPE html>
<html lang="ko">
  <th:block th:replace="~{index :: setContent(~{this::content})}">
    <th:block th:fragment="content">
      <h1>
        Thymeleaf List
      </h1>
      <form method="post">
        <div class="mb-3 mt-3">
          <label for="title" class="form-label">title</label>
          <input type="text" class="form-control" id="title" placeholder="Enter title" name="title" readonly th:value="${dto.title}">
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">content</label>
          <textarea class="form-control" rows="5" id="content" name="content" placeholder="Enter content" readonly>[[${dto.content}]]</textarea>
        </div>
        <div class="mb-3">
          <label for="writer" class="form-label">writer</label>
          <input type="text" class="form-control" id="writer" placeholder="Enter writer" name="writer" readonly th:value="${dto.writer}">
        </div>
        <div class="mb-3">
          <label for="regDate" class="form-label">regDate</label>
          <input type="text" class="form-control" id="regDate" placeholder="Enter regDate" name="regDate" readonly th:value="${dto.regDate}">
        </div>
        <div class="mb-3">
          <label for="modDate" class="form-label">modDate</label>
          <input type="text" class="form-control" id="modDate" placeholder="Enter modDate" name="modDate" readonly th:value="${dto.modDate}">
        </div>
        <a th:href="@{/thymeleaf/modify(gno=${dto.gno}, page=${pageDto.page})}" class="btn btn-primary">Modify</a>
        <a th:href="@{/thymeleaf/list(page=${pageDto.page})}" class="btn btn-success">List</a>
      </form>
    </th:block>
  </th:block>

</html>