<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>hellof mustachedfww</h1>
  <form method="post">
    <input type="text" name="task" placeholder="할 일 입력">
    <button>ADD</button>
  </form>
  <ul>
    {{#todos}}
    <li>{{task}}</li>
    {{/todos}}
  </ul>
</body>
</html>